
body {
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* -----nav-----*/
.header{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fdf8f8;
    color: rgb(121, 153, 211);
    text-align: center;
}
.header img {
    display: block;
    margin: 0 auto ;
    width: 500px ;
    height: auto ;
}
/*    */ 
.nav {
    background-color: rgb(121, 153, 211)  ;
    padding: 10px 0 ;
    border-radius: 5px ;
    width: 100%;
}
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav ul li {
    display: inline;
    margin: 0 10px;
}
.nav ul li a {
    color: white ; 
    text-decoration: none;  
    padding: 5px 10px ;
}
.nav ul li a:hover{
    background-color: #a2abdf;
    border-radius: 5px ;
}

/* ------landing------*/ 
.landing {
     color: white ;
     text-align: center;
     padding: 100px 0;
 }
 .landing h2 {
     margin: 0 0 10px ;
     color: rgb(111, 189, 189);
 }
 .landing p {
     margin: 0 0 20px ;
     color: rgb(111, 189, 189);
 }
 .landing button{
     padding: 10px 20px ;
     background-color: #333;
     color: white;
     border: none;
     cursor: pointer;
 }
 .landing button:hover {
    background-color: #555252;
 }
 
/*   الماركات المتوفرة    */ 
#brands{
    display: flex ;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px ;
    text-align: center;
}
.brand{
    display: inline-flex;
    flex-direction: column ;
    margin: 0 130px;
    align-items: center;
}
.brand img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}
.brand p {
    margin-top:  10px ;
    font-size: 1.2em;
    font-weight: bold ;
}



/* ---منتجاتنا---*/
.shop-section {
   max-width: 1200px;
   margin: 0 auto;
}
.category{
    margin-bottom: 40px;
}
.black {
    color: rgb(16, 19, 214) ;
    font-size: medium;
}
.pink {
    color: rgb(209, 90, 110) ;
    font-size: medium;
}
.blue {
    color: rgb(104, 104, 202);
    font-size: medium;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 250px ;
    margin: 0 3px ;
    padding: 0 5px;
}
.card {
    border: 1px solid #ddd;
    padding: 15px ;
    margin: 10px ;
    border : 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
}
.card img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}
h2 , h3 , h4 {
    margin: 10px 0;
}
p{
    margin: 5px 0;
}
.button {
    background-color: #0e060d;
    padding: 5px;
    border-radius: 4px;
    margin-top: 20px;
    font-style: italic;
    margin: 0;
    display: block;
    color: rgb(252, 246, 246);
}
.button:hover {
    background-color: #201e20;

}
/*   طرق الدفع  */ 

.payment-methods{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    display: flexbox ;
    flex-direction: row-reverse ;
    align-items: center;
    justify-content: space-between;
}
.payment-methods img { 
    width: 150px;
    height: auto;
    margin-left: 15px ;
}
.payment-method p{
    margin: 10px 0 0;
}
.pay-button {
    padding: 10px 20px ;
    background-color: #4ac95b ;
    color: white ;
    border: none ;
    cursor: pointer;
    text-align: right ;
    margin: 0 auto ;
}
.pay-button:hover {
    background-color: #63c493 ;
}


/*-------form-------*/ 
form {
    display: inline ;
    flex-direction: column ;
    gap: 20px ;
}
label {
    display: inline;
    margin-bottom: 5px ;
}
form input [type="text"] ,
 form input [type="email"] 
 ,form textarea {
    padding: 10px ;
    border: 1px solid #ccc;
    border-radius: 5px ;
    box-sizing: border-box;
}
form input [type="text"] ,
 form input [type="email"] {
    width: 20%;
 }
 form textarea {
    width: 25%;
    resize: vertical;
 }
form button {
    padding: 10px 20px ;
    background-color: #0e0d0d ;
    color: white ;
    border: none ;
    cursor: pointer;
    text-align: right ;
    margin: 0 auto ;
}
form button:hover {
    background-color: #555 ;
}
/*   تقييم   */ 
label{
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
input[type="text"] , textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.star-rating{
    display: flex;
    justify-content: flex-start;
    direction: ltr;
}
.star-rating input{
    display: none;
}
.star-rating label{
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}
.star-rating input:checked ~ label , 
.star-rating label:hover , 
.star-rating input:hover ~ label {
    color: #f5b301;
}
input [type="submit"]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input [type="submit"]:hover{
    background-color: #477749;
}
/*     footer   */ 
footer{
    background-color: rgb(134, 162, 185);
    color: white;
    text-align: center;
    padding: 10px 0 ;
    position: relative; 
    bottom: 0;
}
footer p {
    margin: 0;
}
footer .social-media a {
    margin: 0 10px ;
    text-decoration: none;
    background-color: rgb(134, 162, 185);
}
footer .social-media a:hover{
    text-decoration: underline;
    color: #f4f4f4;
    padding: 5px 10px ;
    text-decoration: none;  
}